[Desktop Entry]
Categories=Qt;KDE;System;
Comment[en_US]=
Comment=
Exec=peace-debian-installer distupgrade
GenericName[en_US]=
GenericName=
Icon=arrow-up-double
MimeType=
Name[en_US]=Aptk-Dist-upgrade
Name=Aptk-Dist-upgrade
Name[it]=Aptk-Aggiorna distribuzione
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
