[Desktop Entry]
Comment=plasma theme based on my old  plasma theme nowardev, with a fix , is designed to be readble with dark wallpaper expecially for shelf widget
Name=Nowardev2
X-KDE-PluginInfo-Author=nowardev2
X-KDE-PluginInfo-Version=1
