[Desktop Entry]
Name=Fog on the West Lake
Name[de]=Nebel auf dem Westsee
Name[el]=Fog on the West Lake
Name[es]=Niebla en el lago Oeste
Name[et]=Udu West Lake'il
Name[fi]=Sumua West Lakella
Name[ga]=Fog on the West Lake
Name[hu]=Köd a Nyugati-tó felett
Name[it]=Nebbia sul Lago dell'Ovest
Name[nds]=Nevel över'n Westsee
Name[nl]=Mist op het West Lake
Name[pt]=Nevoeiro no Lago
Name[pt_BR]=Nevoeiro no Lago
Name[sl]=Megla na zahodnem jezeru
Name[uk]=Туман на західному озері
Name[x-test]=xxFog on the West Lakexx

X-KDE-PluginInfo-Name=Fog_on_the_West_Lake
X-KDE-PluginInfo-Author=Vimac
X-KDE-PluginInfo-Email=vifix.mac@gmail.com
X-KDE-PluginInfo-License=LGPLv3
