[Desktop Entry]
Categories=Qt;KDE;System;
Comment[en_US]=Software Installer
Comment=Software Installer
Exec=peace-debian-installer menu
GenericName[en_US]=
GenericName=
Icon=run-build-configure
MimeType=
Name[en_US]=Aptk Menu
Name=Aptk Menu
Name[it]=Aptk Menu
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
