#installation
#copy this on $HOME/.kde/share/kde4/services
#
#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.
[Desktop Action append]
Exec=vservice 2 "%u"
Icon=list-add
Name=append to vlc
Name[it]=aggiungi a vlc

[Desktop Action appendplay]
Exec=vservice 3 "%u"
Icon=media-playback-start
Name=add and play
Name[it]=aggiungi e riproduci

[Desktop Action playnext]
Exec=qdbus org.mpris.vlc /Player   org.freedesktop.MediaPlayer.Next && echo %u >>/dev/null
Icon=arrow-right
Name=Play next
Name[it]=riproduci prossimo

[Desktop Action playprev]
Exec=qdbus org.mpris.vlc /Player   org.freedesktop.MediaPlayer.Prev && echo %u >>/dev/null
Icon=arrow-left
Name=Play prev
Name[it]=riproduci precendente

[Desktop Action prev]
Exec=vservice 2 "%u"
Icon=list-add
Name=append and play prev
Name[it]=aggiungi alla playlist di vlc e play precedente

[Desktop Action rotate]
Exec=vlc --video-filter "rotate{angle=$(kdialog --title "Angle" --textinputbox "Angle" 90 )}" %u
Icon=transform-rotate
Name=Custom Rotation
Name[it]=Rotazione personalizzata

[Desktop Action rotate180]
Exec=vlc --video-filter "rotate{angle=180}" %u
Icon=transform-rotate
Name=Rotate 180
Name[it]=Ruota 180

[Desktop Action rotate270]
Exec=vlc --video-filter "rotate{angle=270}" %u
Icon=transform-rotate
Name=Rotate 270
Name[it]=Ruota 270

[Desktop Action rotate360]
Exec=vlc --video-filter "rotate{angle=360}" %u
Icon=transform-rotate
Name=Rotate 360
Name[it]=Ruota 360

[Desktop Action rotate90]
Exec=vlc --video-filter "rotate{angle=90}" %u
Icon=transform-rotate
Name=Rotate 90
Name[it]=Ruota 90

[Desktop Action version]
Exec=kdialog --msgbox "$(cat /usr/bin/vservice | grep version=) Author : Nowardev"
Icon=dialog-information
Name=Version
Name[it]=Versione

[Desktop Entry]
Actions=append;appendplay;next;playprev;playnext;rotate90;rotate180;rotate270;rotate360;rotate;version
Icon=vlc
ServiceTypes=KonqPopupMenu/Plugin,video/.*,audio/.*
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Vlc Append
X-KDE-Submenu[it]=Aggiungi alla playlist di vlc
