##license gpl 
#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.


[Desktop Entry]
Actions=folderappendb;folderappend
Icon=dolphin
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=open folder with Kate
X-KDE-Submenu[it]=apri cartella con Kate


[Desktop Action folderappend]
Exec=ktexeditor-open-folder n "%u"
Icon=text-editor
Name=Open folder with kate with backup
Name[it]=apri cartella con kate con backup

[Desktop Action folderappendb]
Exec=ktexeditor-open-folder b "%u"
Icon=text-editor
Name=Open folder with kate 
Name[it]=apri cartella con kate

