Source: kde-service-menu-lprinterqt
Section: kde
Priority: extra
Maintainer: Nowardev Peace <nowardev@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/kde-peace-settings/


Package: kde-service-menu-lprinterqt
Architecture: all
Depends: dolphin, cups, kate, kde-baseapps-bin 
Description: service menu to print from dolphin
 With this service menu you will be able to print
 files from dolphin.
