[Desktop Entry]
Exec=showebkam
## X-DocPath=
Type=Application
Terminal=false
Icon=camera-web
GenericName=Display Webcam
GenericName[it]=Mostra Webcam
Name=ShoWebKam 
Comment[it]=Mostra Webcam 
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;AudioVideo;Audio;
 