[Desktop Entry]
Name=ShoWebKam
Exec=showebkam
Icon=camera-web
Type=Application
Categories=Qt;KDE;AudioVideo;Video;
GenericName=ShoWebKam
Comment=Display your Webcam
Comment[it]=Mostra Webcam
GenericName[it]=Mostra Webcam
Terminal=false
InitialPreference=10