Source: kde-service-menu-ffmpeg-peace
Section: unknown
Priority: extra
Maintainer: unknown <nowardev2@nowardev>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/kde-service-menu-ffmpeg-peace.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kde-service-menu-ffmpeg-peace.git;a=summary

Package: kde-service-menu-ffmpeg-peace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
