[Desktop Entry]
Actions=folderappend;version;
Icon=vlc
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Vlc Folder Append
X-KDE-Submenu[it]=Aggiungi cartella a vlc


[Desktop Action youtubeup]
Exec= vservice folder "%u"
Icon=go-up
Name=Upload to My Youtube Channel
Name[it]=Carica sul mio canale youtube

[Desktop Action version]
Exec=kdialog --msgbox "Version: $(awk -F'=' '/scriptversion=/{print $2}' /usr/bin/vservice) Author : me"
Icon=dialog-information
Name=Version
Name[it]=Versione

 