# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=nowardev.xml
Name=BlueMetalNowardev
Author=Nowardev	
Copyright=gpl 
Screenshot=screenshot.jpeg
