[Desktop Entry]
Encoding=UTF-8
Name=Kde3 Panel
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-desktop
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Nowardev
X-KDE-PluginInfo-Email=nowardev@gmail.com
X-KDE-PluginInfo-Name=nowardev.kde3Panel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://nowardev.wordpress.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
