[Desktop Entry]
Name=fabric-gnome
X-KDE-PluginInfo-Name=fabric-gnome
X-KDE-PluginInfo-Author=Nowardev
X-KDE-PluginInfo-Email=nowardev@gmail.com
X-KDE-PluginInfo-License=gpl


