[Desktop Entry]
Name=Nowadev Buttons
Comment=Buttons for Kwin Windows
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik
X-KDE-PluginInfo-Email=clearmartin@seznam.cz
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.nowadevButtons
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://github.com/kotelnik/plasma-applet-active-window-control
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
Icon=window-close
