#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Desktop Entry]
Actions=play;playsync;play90;play180;play270;playuser;flash;help; 
Icon=dolphin
ServiceTypes=KonqPopupMenu/Plugin,video/*,audio/*
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=FFplay
X-KDE-Submenu[it]=FFplay


[Desktop Action play]
Exec=ffplay "%u"
Icon=play
Name=Play with FFplay
Name[it]=Riproduci con FFplay

[Desktop Action play90]
Exec=ffplay -vf "rotate=90*(PI/180),format=yuv420p" "%u"
Icon=play
Name=Play with FFplay 90° 
Name[it]=Riproduci con FFplay 90°

[Desktop Action play180]
Exec=ffplay -vf "rotate=PI,format=yuv420p" "%u"
Icon=play
Name=Play with FFplay 180° 
Name[it]=Riproduci con FFplay 180°

[Desktop Action play270]
Exec=ffplay -vf "rotate=270*(PI/180),format=yuv420p" "%u"
Icon=play
Name=Play with FFplay 270° 
Name[it]=Riproduci con FFplay 270°

[Desktop Action playuser]
Exec=a=$(kdialog --textinputbox "Insert an angle:" 45) ; ffplay -vf "rotate=$a*(PI/180),format=yuv420p" "%u"
Icon=play
Name=Play with FFplay Angle° 
Name[it]=Riproduci con FFplay Angle°


[Desktop Action flash]
Exec=service-menu-ffplay -p ;  echo  "%u"> /dev/null
Icon=play
Name=Flash Video  FFplay
Name[it]=Flash Video  FFplay

[Desktop Action saveflash]
Exec=service-menu-ffplay -s ;  echo  "%u"> /dev/null
Icon=play
Name=Flash Video  FFplay
Name[it]=Flash Video  FFplay

[Desktop Action playsync]
Exec=ffplay -sync video "%u" 
Icon=play
Name=Play with syncronization function
Name[it]=Riproduci con FFplay funzione syncronizazzione attivata




[Desktop Action help]
Exec=kdialog --msgbox $"This service menu  allow you to play video and audios with ffplay , the flash functions will try to play the flash video that is buffering in konqueror , you can even save your flash files after buffering they will be saved on /tmp folder ..   "    ; echo  "%u"> /dev/null
Icon=play
Name=Help 
Name[it]=Aiuto 
 
