#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Desktop Entry]
Actions=flash;saveflash;youtubedownload;youtubedownloadq;youtubeextract;youtubeextractq;youtubemp3;youtubemp3q;help; 
Icon=dolphin
ServiceTypes=KonqPopupMenu/Plugin,text/html 
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Video-dl
X-KDE-Submenu[it]=Video-dl

 

[Desktop Action flash]
Exec=kde-service-menu-video-dl -p ;  echo  "%u"> /dev/null
Icon=media-playback-start
Name=Play Flash Video  Method lsof
Name[it]=Riproduci Flash Video  Metodo lsof

[Desktop Action saveflash]
Exec=kde-service-menu-video-dl -s ;  echo  "%u"> /dev/null
Icon=media-record
Name=Save Flash Video in /tmp  Method lsof 
Name[it]=Salva Flash Video in  /tmp Metodo lsof 

[Desktop Action youtubedownload]
Exec=kde-service-menu-video-dl -y ;  echo  "%u"> /dev/null
Icon=download
Name=Youtube-dl Standard Mode
Name[it]=Youtube-dl Scarica Standard 

[Desktop Action youtubedownloadq]
Exec=kde-service-menu-video-dl -yq ;  echo  "%u"> /dev/null
Icon=download
Name=Youtube-dl With Menu Quality
Name[it]=Youtube-dl Con Menu Qualità

[Desktop Action youtubemp3]
Exec=kde-service-menu-video-dl -mp3 ;  echo  "%u"> /dev/null
Icon=download
Name=Youtube-dl  Extract Audio Mp3
Name[it]=Youtube-dl  Estrai Audio Mp3

[Desktop Action youtubemp3q]
Exec=kde-service-menu-video-dl -mp3q ;  echo  "%u"> /dev/null
Icon=download
Name=Extract Audio Mp3 Quality Menu
Name[it]=Estrai Audio Mp3 Menu Qualità

[Desktop Action youtubeextract]
Exec=kde-service-menu-video-dl -e ;  echo  "%u"> /dev/null
Icon=download
Name=Youtube-dl Extract Original Audio Track
Name[it]=Youtube-dl  Estrai Traccia Audio Originale

[Desktop Action youtubeextractq]
Exec=kde-service-menu-video-dl -eq ;  echo  "%u"> /dev/null
Icon=download
Name=Extract Original Audio Menù Qualità
Name[it]=Estrai Audio Originale Menu Qualità

[Desktop Action help]
Exec=kdialog --msgbox $"This service menu  allow you to play video and audios with ffplay , the flash functions will try to play the flash video that is buffering in konqueror , you can even save your flash files after buffering they will be saved on /tmp folder ..   "    ; echo  "%u"> /dev/null
Icon=system-help
Name=Help 
Name[it]=Aiuto 
 