[Desktop Entry]
Actions=edit;deleteall;start;log;info;
Icon=video-x-generic
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=FFmpeg Menu
X-KDE-Submenu[it]=FFmpeg Menu

[Desktop Action deleteall]
Exec=rm /tmp/kde-service-menu-FFmpeg.lst  & echo %u >>/dev/null
Icon=edit-delete
Name=Delete list
Name[it]=Cancella la Lista FFmpeg

[Desktop Action edit]
Exec=kate /tmp/kde-service-menu-FFmpeg.lst && echo %u >>/dev/null
Icon=story-editor
Name=Edit List
Name[it]=Edita Lista

[Desktop Action start]
Exec=kde-service-menu-FFmpeg "$(kdialog --title "insert your parameters" --textinputbox  "Insert your FFmpeg parameters" -- "-ab 128k -b 1000k" )" "$(kdialog --combobox $"choose your output format" mp3 mp4 vp8 webm wav )" "$(kdialog --combobox  $"Enable overwrite?"  false true --default false  )" && echo %u >>/dev/null
Icon=dialog-ok
Name=FFmpeg Start!
Name[it]=FFmpeg Inizia!

# [Desktop Action folderappend]
# Exec=$(while read line ;do for extension in $commonaudioformats $commonvideoformats ; do if  [[ "$line" == *.$extension ]] ; then echo "$line" >>"/tmp/kde-service-menu-FFmpeg.lst" fi ; done ; done< <(find "%u" -type f)  )
# Icon=list-add
# Name=Add Folder to FFmpeg
# Name[it]=Aggiungi Cartella a FFmpeg

[Desktop Action info]
Exec=kdialog --info this is my service menu  && echo %u >>/dev/null
Icon=dialog-information
Name=Version
Name[it]=Versione

[Desktop Action log]
Exec=kdialog --msgbox "<pre>$(cat /tmp/kde-service-menu-vlc-transcode.log)</pre>" && echo %u >>/dev/null
Icon=dialog-information
Name=Log
Name[it]=Log


