[Desktop Entry]
Comment=it's my old plasma theme nowardev with a fix\nit's designed to be readble with dark wallpaper expecially for shelf widget\n
Name=TransparentDarkWallpapersNowardev
X-KDE-PluginInfo-Author=nowardev
X-KDE-PluginInfo-Version=2
