[Desktop Entry]
Comment=Nowardev plasma theme fix activities color 
Name=TransparentDarkWallpapersNowardev
X-KDE-PluginInfo-Author=nowardev
X-KDE-PluginInfo-Version=3
