[Desktop Entry]
Encoding=UTF-8
Icon=preferences-desktop-dislay-color
Name=Unity Activity
Name[en_GB]=unity Activity
Name[x-test]=xxunity Activityxx
ServiceTypes=Plasma/LayoutTemplate
Type=Service
X-KDE-PluginInfo-Author=nowardev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=nowardev@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=nowardev.unityActivity
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-ContainmentCategories=desktop
X-Plasma-Shell=plasma-desktop
