#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Desktop Entry]
Encoding=UTF-8
Name=Unity Panel
ServiceTypes=Plasma/LayoutTemplate
Type=Service
X-KDE-PluginInfo-Author=Nowardev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=nowardev@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma-desktop.unityPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://nowardev.wordpress.com
X-Plasma-ContainmentCategories=panel
X-Plasma-Shell=plasma-desktop
