[Desktop Entry]
Type=Service
Name=Google
X-KDE-ServiceTypes=SearchProvider
Keys=ggk,ggkubuntu
Query=http://www.google.com/search?client=ubuntu&channel=ks&q=\\{@}
Charset=utf8
X-Ubuntu-Gettext-Domain=desktop_kdebase-runtime
Suggest=http://www.google.com/complete/search?q=\\{@}&output=toolbar
