[KSplash Theme: nwd2]
Name = Fading Kde with rotating gear version 2
Description = KDE text fade with rotating gears
Version = 1.0
Author = Nowardev <nowardev at gmail.com>
Homepage = http://www.nowardev.wordpress.com

# Theme behaviour settings.
Engine = KSplashQML
