#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.
[Desktop Entry]
Actions=update;upgrade;dist-upgrade;fupug;fupdug;_SEPARATOR_;search;searchex;searchandinstall;install;purge; remove;blockpackage;_SEPARATOR_;installpackage;removepackage;infopackage;_SEPARATOR_;autoremove;clear;dpgkrecover;removeblock;installf;SEPARATOR_;edit-sourcelist;ppa
Icon=applications-other
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked,all/all
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=APT-DPKG 
X-KDE-Submenu[it]=APT-DPKG 
#version 0.4
#license gpl nowardev 2012


[Desktop Action update]
Exec=peace-debian-installer update && echo %u >/dev/null
Icon=edit-redo
Name=Apt-update
Name[it]=Apt-update

[Desktop Action upgrade]
Exec=peace-debian-installer upgrade && echo %u >/dev/null
Icon=go-up
Name=Apt-upgrade
Name[it]=installa aggiornamenti

[Desktop Action dist-upgrade]
Exec=peace-debian-installer distupgrade && echo %u >/dev/null
Icon=arrow-up-double
Name=Apt-Dist-upgrade
Name[it]=Apt-Aggiorna distribuzione


[Desktop Action fupug]
Exec=peace-debian-installer forceupdateupgrade && echo %u >/dev/null
Icon=go-up
Name=Force upgrade
Name[it]=forza aggiornamento

[Desktop Action fupdug]
Exec=peace-debian-installer forceupdatedistupgrade && echo %u >/dev/null
Icon=arrow-up-double
Name=Force dist-upgrade
Name[it]=forza aggiornamento versione



[Desktop Action search]
Exec=peace-debian-installer search && echo %u >/dev/null
Icon=system-search
Name=Apt-Search
Name[it]=Apt-Cerca

[Desktop Action searchex]
Exec=peace-debian-installer search && echo %u >/dev/null
Icon=system-search
Name=Apt-Search exacly
Name[it]=Apt-Cerca esattamente

[Desktop Action searchandinstall]
Exec=peace-debian-installer searchinstall  && echo %u >/dev/null
Icon=system-search
Name=Apt-Search and install
Name[it]=Apt-Cerca e installa



[Desktop Action install]
Exec=peace-debian-installer install && echo %u >/dev/null
Icon=list-add
Name=Apt Install applications
Name[it]=installa programmi

[Desktop Action removepackage]
Exec=$(konsole --noclose -e sudo dpkg -r %u )
Icon=edit-delete
Name=Dpkg remove package
Name[it]=Apt rimuovi applicazioni

[Desktop Action clear]
Exec=peace-debian-installer clean && echo %u >/dev/null
Icon=editclear
Name=Apt clean 
Name[it]=Apt Pulisci

[Desktop Action autoremove]
Exec=peace-debian-installer autoremove && echo %u >/dev/null
Icon=archive-remove
Name=Apt Autoremove 
Name[it]=Apt Rimuovi Auto

[Desktop Action installpackage]
Exec=$(konsole --noclose -e sudo dpkg -i %u )
Icon=list-add
Name=Dpkg-Install package
Name[it]=Dpkg-installa pacchetto


[Desktop Action reinstall]
Exec=peace-debian-installer reinstall && echo %u >/dev/null
Icon=list-add
Name=Apt RE-Install applications
Name[it]=Apt Re-installa programmi

[Desktop Action purge]
Exec=peace-debian-installer purge && echo %u >/dev/null
Icon=edit-clear
Name=Apt-remove and purge
Name[it]=Apt rimuovi completamente

[Desktop Action remove]
Exec=peace-debian-installer remove && echo %u >/dev/null
Icon=edit-delete
Name=Apt remove applications
Name[it]=Apt rimuovi applicazioni


[Desktop Action blockpackage]
Exec=peace-debian-installer hold && echo %u >/dev/null
Icon=dialog-cancel
Name=Block Package upgrading
Name[it]=Blocca aggiornamenti per questo pacchetto

[Desktop Action edit-sourcelist]
Exec=peace-debian-installer edit && echo %u >/dev/null
Icon=document-edit
Name=Edit repository
Name[it]=Edita repository

[Desktop Action ppa]
Exec= kdesudo software-properties-kde && echo %u >/dev/null
Icon=list-add
Name=Manage PPA
Name[it]=Gestisci PPA


[Desktop Action dpgkrecover]
Exec=peace-debian-installer dpkgrecover && echo %u >/dev/null
Icon=run-build-configure
Name=dpkg reconfigure all
Name[it]=dpkg riconfigura tutto

[Desktop Action removeblock]
Exec=peace-debian-installer removeblock && echo %u >/dev/null
Icon=edit-bomb
Name=rm /var/lib/dpkg/lock 
Name[it]=rm /var/lib/dpkg/lock 
 
[Desktop Action installf]
Exec=peace-debian-installer installf && echo %u >/dev/null
Icon=run-build-configure
Name=Apt-get install -f 
Name[it]=Apt-get install -f