#Copyright (C) 2012 nowardev nowardev@gmail.com
 
#This file is part of kde-peace-settings.
 
#kde-peace-settings is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program.  If not, see <http://www.gnu.org/licenses/>.

#
#
#INSTALLATION
#
#copy this service menu on $HOME/.kde/share/kde4/services if you are not root
#
#if you are root copy this service menu  $(kde4-config --prefix)/share/kde4/services/ServiceMenus/
#
#VERSION 0.6
[Desktop Entry]
Actions=add;showlist;deleteall;_SEPARATOR_;interactiveeach;globalinteractive;_SEPARATOR_;help;setprinter;
Icon=preferences-desktop-printer
ServiceTypes=KonqPopupMenu/Plugin,text/.*,image/.*,application/pdf,application/ps
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Printer qt menu
X-KDE-Submenu[de]=Drucker Menü
X-KDE-Submenu[it]=Menu di stampante

[Desktop Action add]
Exec=echo  "%u" >> $HOME/.lprinter-qt.lst
Icon=list-add
Name=Add files to print list
Name[it]=Aggiungi lista stampa
Name[de]=Dateien zu Druckauftragsliste hinzufügen

[Desktop Action deleteall]
Exec=lprinter-qt delete-list & echo %u >>/dev/null
Icon=edit-delete
Name=Delete print list
Name[it]=Cancella la lista stampa
Name[de]=Lösche Druckauftragsliste

[Desktop Action globalinteractive]
Exec=lprinter-qt interactive-all & echo %u >>/dev/null
Icon=tools-wizard
Name=Start printing : Global Interactive
Name[it]=Inizia stampa Interattivo Globale
Name[de]=Start Drucken: Global Interaktiv

[Desktop Action interactiveeach]
Exec=lprinter-qt interactive-each & echo %u >>/dev/null
Icon=tools-wizard
Name=Start printing Each file Interactive
Name[it]=Inizia Stampa Interattivo per ogni file
Name[de]=Jede Datei Drucken nach Rückfrage

[Desktop Action showlist]
Exec=lprinter-qt show-files & echo %u >>/dev/null
Icon=document-print-preview
Name=Show my list!
Name[it]=Mostra la lista
Name[de]=Zeige meine Liste

[Desktop Action help]
Exec=lprinter-qt help & echo %u >>/dev/null
Icon=help
Name=Help it doesn't work
Name[it]=Aiuto non funziona
Name[de]=Hilfe es funktioniert nicht

[Desktop Action setprinter]
Exec=lprinter-qt-office printer-settings & echo %u >>/dev/null
Icon=preferences-other
Name=Printer options
Name[it]=Opzioni stampante
Name[de]=Drucker-Optionen
 
 