Source: plasma-panels-collection
Section: kde
Priority: extra
Maintainer: Peace Nowardev <nowardev@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/kde-peace-settings/


Package: plasma-panels-collection
Architecture: all
Depends: plasma-widget-activitymanager, plasma-widget-adjustableclock, plasma-widget-bkodama, plasma-widget-cpuload, plasma-widget-cwp, , plasma-widget-fastuserswitch, plasma-widget-lancelot, , plasma-widget-mail, plasma-widget-makestatus, plasma-widget-memusage, plasma-widget-menubar, plasma-widget-message-indicator, plasma-widget-networkmanagement, , plasma-widget-quickaccess, , plasma-widget-simplemonitor, , plasma-widget-translatoid, , plasma-widget-veromix, plasma-widget-weatherforecast, plasma-widget-wifi, plasma-widget-yawp,  plasma-widgets-addons, plasma-widgets-workspace
Description: Collection of Plasma panels
 Plasma panel collection is a collection of panels for kde desktop. you can choose unity-like panel gnome2-like gnome3-like mac and several others 
 target  of this collection is to help users to be more comfortable on Kde desktop.
