[Desktop Entry]
Actions=folderappend;edit;deleteall;start;version;
Icon=video-x-generic
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=FFmpeg Menu
X-KDE-Submenu[it]=FFmpeg Menu

[Desktop Action deleteall]
Exec=ffmpeg-peace-service-menu -d & echo %u >>/dev/null
Icon=edit-delete
Name=Delete list
Name[it]=Cancella la Lista FFmpeg

[Desktop Action edit]
Exec=ffmpeg-peace-service-menu -ek && echo %u >>/dev/null
Icon=story-editor
Name=Edit List
Name[it]=Edita Lista

[Desktop Action start]
Exec=ffmpeg-peace-service-menu -mx  && echo %u >>/dev/null
Icon=dialog-ok
Name=FFmpeg Start!
Name[it]=FFmpeg Inizia!

[Desktop Action folderappend]
Exec=ffmpeg-peace-service-menu -fox "%u"
Icon=list-add
Name=Add Folder to FFmpeg
Name[it]=Aggiungi Cartella a FFmpeg

[Desktop Action version]
Exec=ffmpeg-peace-service-menu -hx  && echo %u >>/dev/null
Icon=dialog-information
Name=Version
Name[it]=Versione


